.nakd-pdp-banner {
	font-family: "proxima-nova", "Noto sans", sans-serif;
	width: 100%;
	text-align: center;
	margin-bottom: 24px;
}

.nakd-pdp-banner-inner {
	border-radius: 3px;
	line-height: 1.2;
	position: relative;
}

.nakd-pdp-banner-content {
	width: 100%;
	color: #fff;
	padding: 12px 15px;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 0px;
	z-index: 1;
	justify-content: center;
	flex-direction: row;
	background: #e89671;
}

.nakd-pdp-banner-content a {
	position: absolute;
	top: 0vw;
	left: 0vw;
	z-index: 2;
	pointer-events: all;
	width: 100%;
	height: 100%;
}

.nakd-pdp-banner .nakd-pdp-banner-inner .image-1 {
	position: absolute;
	min-width: 100%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.nakd-pdp-banner-content .nakd-pdp-offer,
.nakd-pdp-banner-content .nakd-grid-cta-name {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0px 0pc 12px;
	display: block;
	text-align: center;
	margin-bottom: 0;
}

html[lang="sv"] .nakd-pdp-banner-content .nakd-pdp-offer {
	font-size: 17px;
}

.nakd-pdp-banner-content .nakd-grid-cta-name {
	text-decoration: underline;
}

.nakd-pdp-banner-content .nakd-pdp-code {
	font-size: 18px;
	font-weight: 500;
	line-height: 0.9;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0px;
	display: block;
	text-align: center;
}

.nakd-pdp-banner-content .nakd-pdp-code .code::after {
	content: "EXTRA30";
	display: inline;
}

.nakd-pdp-banner-content .nakd-pdp-offer.nakd-pdp-offer-2 {
	font-size: 10px;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: 0;
	text-transform: none;
	margin: 7px 0 0;
	display: block;
	text-align: center;
}

.nakd-pdp-banner-content .nakd-pdp-logo {
	width: 107px;
	margin: 28px 0px 18px;
}

.nakd-pdp-banner-content .nakd-bw-offer-wrapper {
	align-items: center;
	gap: 0px;
	flex-direction: column;
	padding: 4px 0px 6px;
}

.nakd-pdp-banner-content .nakd-bw-offer-wrapper div {
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 6px;
	display: flex;
}

.nakd-pdp-banner-content .nakd-bw-offer-wrapper .nakd-pdp-offerName.nakd-pdp-offerName-1 {
	font-size: 50px;
	font-weight: 800;
}

.nakd-pdp-banner-content .nakd-bw-offer-wrapper .nakd-pdp-offerName.nakd-pdp-offerName-2 {
	font-size: 25px;
	font-weight: 800;
}

.nakd-pdp-banner-content .nakd-bw-offer-wrapper .nakd-pdp-offerName.nakd-pdp-offerName-3 {
	font-size: 15px;
	font-weight: 400;
}

.nakd-pdp-banner-content .nakd-pdp-offer-note {
	font-size: 13px;
}

.nakd-pdp-offerName {
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	line-height: 0.8;
}

.nakd-pdp-offerName strong {
	font-weight: 700;
}

.nakd-pdp-footnote {
	text-align: center;
	padding: 4px 0px 0px 0px;
	width: 100%;
	font-size: 10px;
	letter-spacing: 0;
}

.nakd-pdp-footnote.nakd-pdp-footnote-2 {
	padding: 0;
}

.nakd-pdp-banner .nakd-bw-offer-wrapper .nakd-count-container {
	position: relative;
	display: block;
	width: 100%;
	line-height: 0.8;
	margin-bottom: 4px;
	display: none;
}

.nakd-pdp-banner .nakd-bw-offer-wrapper .nakd-count-container .nakd-grid-count-copy {
	font-size: 14px;
	font-weight: 600;
}

.nakd-grid-count-countdown {
	display: inline-block !important;
}

.nakd-grid-count-countdown * {
	margin-right: 3px;
}

.nakd-pdp-banner .nakd-bw-offer-wrapper div#nakd-50-off-knitwear {
	position: relative;
	display: inline;
	transform: none;
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	background: transparent;
	color: #fff;
	padding: 0px;
}

.nakd-pdp-banner .nakd-bw-offer-wrapper .nakd-count-container div#nakd-50-off-knitwear span {
	font-size: 14px;
	padding: 0px;
	margin: 0px 2px;
	min-width: 8px;
	display: inline-block;
	text-align: center;
	font-weight: 600;
}

.nakd-pdp-banner .nakd-grid-disclaimer {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.nakd-pdp-banner .nakd-grid-disclaimer img {
	width: 19px;
	height: auto;
	cursor: pointer;
	filter: invert(1) brightness(100);
}

.nakd-pdp-banner .nakd-grid-disclaimer span {
	display: none;
	position: absolute;
	right: 0;
	width: max-content;
	top: 28px;
	text-align: right;
	background: #fff;
	padding: 16px 16px;
	font-size: 13.3px;
	max-width: 380px;
}

.nakd-pdp-banner .nakd-grid-disclaimer:hover > span {
	display: block;
}

@media only screen and (min-width: 768px) {
	.nakd-pdp-banner .nakd-grid-disclaimer:hover span {
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	.nakd-pdp-banner {
		margin-top: 0px;
	}

	.nakd-pdp-banner-content {
		padding: 21px 15px 21px 15px;
	}

	.nakd-pdp-banner-content .nakd-pdp-offer {
		font-size: 24px;
	}

	.nakd-pdp-banner .nakd-grid-disclaimer {
		opacity: 1;
		height: auto;
	}

	.nakd-pdp-banner .nakd-grid-disclaimer {
		top: 16px;
		right: 16px;
		transform: translate(10px, -10px);
	}

	.nakd-pdp-banner .nakd-grid-disclaimer img {
		width: 19px;
		padding: 4px;
		box-sizing: initial;
	}

	.nakd-pdp-banner .nakd-grid-disclaimer span {
		top: 29px;
		padding: 11px 9px;
		font-size: 10.15px;
		max-width: 359px;
	}

	.nakd-pdp-banner .nakd-grid-disclaimer input:checked + label span {
		display: block;
	}
}
